
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<button type="button" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-plus"></span>@Html.ActionLink("Add Expense", "AddExpense", "Expense")                                                 
</button>

  
@Html.ActionLink("List Expense", "List", "Expense")
